 <!-- menu -->
 <div class="row col-12  mt-4">
  <div class="col-6 mr-0 text-center" >
    <h4 class="text-center"><b>Thông tin liên hệ</b></h4>
    <p class="ml-5 mt-4"><b><i class="fas fa-map-marker-alt mr-3 text-danger"></i> Địa chỉ liên hệ:</b> k242/3 Tôn đản</p>
    <p class="ml-5 mt-4"><b><i class="fas fa-phone-alt mr-3 text-danger"></i> Điện thoại liên hệ:</b> 0354555904</p>
    <p class="ml-5 mt-4"><b><i class="fas fa-envelope mr-3 text-danger"></i> Email:</b> infinityshop@gmail.com</p>
    <p class="ml-5 mt-4"><b><i class="fas fa-clock mr-3 text-danger"></i> Giờ mở cửa:</b> 7h-22h hàng ngày</p>
</div>

<div class="col-6">
  <h4><b>Đặt câu hỏi cho chúng tôi</b></h4>
  <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Nhập email của bạn</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
        <small id="emailHelp" class="form-text text-muted">Bạn phải nhập email để đặt câu hỏi.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Nhập câu hỏi của bạn</label>
        <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder=""></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Gửi lên</button>
    </form>
</div>
</div>





<div class="container mt-4 ">
<h3>Một số câu hỏi thường gặp:</h3>

<table class="table table-bordered mt-3 text-center p-4">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Câu hỏi</th>
      <th scope="col">Trả lời</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Làm sao để đăng ký tài khoản khách hàng tại của hàng ?</td>
      <td>Bạn có thể nhấp vào đăng ký rồi điền đầy đủ thông tin</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>không đăng ký tài khoản thì có thể mua hàng được hay không?</td>
      <td>có bạn nhé <3</td> </tr> <tr>
      <th scope="row">4</th>
      <td>Laptop MacBook của nước nào, có tốt không? Có những dòng nào?</td>
      <td>Laptop MacBook là sản phẩm thuôc thương hiệu mỹ. Theo một số người sử dụng feedback thì sản phẩm rất tốt.
        Hiện nay có rất nhiều dòng sản phẩm : MacBook Air, MacBook Pro,...</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Nên nâng cấp Ram khi nào ?</td>
      <td>hông thường với máy tính có dung lượng từ 4 GB thì sẽ đáp ứng tốt các nhu cầu phổ thông như lướt web, chơi
        game, học tập - văn phòng.
        Nhưng nếu bạn cần một cấu hình tốt để chiến những game nặng, xử lí đồ họa ở mức mượt mà thì RAM 4 GB không
        đáp ứng được vì thế cần nâng cấp thanh RAM lên 8 GB, 16 GB,... thay vì bạn phải mua hẳn một chiếc laptop
        mới.</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>không đăng ký tài khoản thì có thể mua hàng được hay không?</td>
      <td>có bạn nhé <3</td> </tr> <tr>
      <th scope="row">7</th>
      <td>Có lưu ý khi nâng cấp RAM không ?</td>
      <td>Tắt nguồn máy khi tháo lắp, khi tháo lắp nên nhẹ nhàng, cẩn thận.
        Đây là thiết bị điện tử phức tạp, nếu chưa có tay nghề chuyên nghiệp thì tốt nhất bạn không nên thay RAM mà
        hãy nhờ sự trợ giúp của nhân viên kĩ thuật. </td>
    </tr>
  </tbody>
</table> <!-- Footer -->
</div>
