.product-img {
  max-width: 8.5rem;

}
.mat-cell {
  padding: 1.5rem;
}

.mat-column-name {
  max-width: 10rem;
}

.mat-column-manufacturer {
  min-width: 10rem;
}

.mat-column-price {
  max-width: 15rem;
  min-width: 10rem;
  text-align: right;
}

.mat-column-manufacturer,
.mat-column-categories {
  text-transform: capitalize;
}
