.product-img {
  max-width: 8.5rem;

}

.mat-header-cell {
  font-size: 1rem;
  text-align: center;
  align-items: center;
}

.mat-column-name {
  max-width: 10rem;
}

.mat-cell {
  padding: 1.5rem;
}
