<!--top-header-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" [routerLink]="['/index']">
    <img class="logo" [lazyLoad]="'/assets/img/logo caam.png'" />
  </a>
  <div class="collapse navbar-collapse mr-3">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" [matMenuTriggerFor]="categories"
          >Danh mục</a
        >
        <mat-menu #categories="matMenu">
          <ng-container
            *ngFor="
              let category of categories$ | async;
              trackBy: trackByCategory
            "
          >
            <ng-container
              *ngIf="!category.childrens || category.childrens.length === 0"
            >
              <button (click)="goToProducts(category.id)" mat-menu-item>
                {{ category.categoryName }} ({{ category.productCount }})
              </button>
            </ng-container>
            <ng-container *ngIf="category.childrens?.length > 0">
              <button mat-menu-item (click)="goToProducts(category.id)" [matMenuTriggerFor]="childMenu">
                {{ category.categoryName }} ({{ category.productCount }})
              </button>
              <mat-menu #childMenu="matMenu">
                <ng-container
                  *ngFor="
                    let children of category.childrens;
                    trackBy: trackByCategory
                  "
                >
                  <button (click)="goToProducts(children.id)" mat-menu-item>
                    {{ children.categoryName }} ({{ children.productCount }})
                  </button>
                </ng-container>
              </mat-menu>
            </ng-container>
          </ng-container>
        </mat-menu>
      </li>
    </ul>
    <form [formGroup]="seachForm" class="form-inline col-lg-12 m-3 my-2 my-lg-0s" (submit)="onSubmit()">
      <input
        class="form-control mr-sm-2 col-8"
        type="search"
        placeholder="Nhập nội dung tìm kiếm..."
        aria-label="Search"
        formControlName="search"

      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Tìm kiếm
      </button>
    </form>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
        <li class="nav-item mr-3">
            <a
              class="nav-link"
              [routerLink]="'cart'"
              routerLinkActive="active"
            >
              <mat-icon [matBadge]="cartItemsCount | async" matBadgeColor="warn">shopping_cart</mat-icon>
            </a>
          </li>
      <li *ngFor="let navItem of navItemRight$ | async" class="nav-item">
        <a
          class="nav-link"
          [routerLink]="[navItem.link]"
          routerLinkActive="active"
          *ngIf="(!navItem.isLogin) || (navItem.isLogin && !(currUser$ | async))"
        >
          {{ navItem.name }}
        </a>
      </li>

      <li class="nav-item"></li>
      <li class="nav-item dropdown" *ngIf="currUser$ | async">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fa fa-user"></i> {{(currUser$ | async).firstname}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item d-flex flex-row align-items-center" *ngFor="let item of listItemUser" [routerLink]="item.link">
            <mat-icon class="mat-18 mr-1">{{item.iconName}}</mat-icon>
            {{item.name}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logOut()">Đăng xuất</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--end-top-header-->

<app-sub-navigation [navItems]="navItems$ | async"></app-sub-navigation>
