<mat-tab-group [selectedIndex]="tabIndex$ | async"
(selectedIndexChange)="tabIndexChange($event)">
  <mat-tab label="Doanh Thu">
    <ng-template matTabContent>
      <div class="col-12 p-5">
        <app-revenue-statistical></app-revenue-statistical>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Báo cáo nhập kho">
      <ng-template matTabContent>
        <div class="col-12 p-5">
          <app-import-invoice-report></app-import-invoice-report>
        </div>
      </ng-template>
    </mat-tab>
</mat-tab-group>
