<!-- body -->
<div class="mt-4 container col-12 px-5 ml-2.5">
  <div class="row">
    <div class="card col-12 p-0 border-light mb-3">
      <div class="card-header">
        <h3>{{ (product$ | async)?.productName }}</h3>
      </div>
    </div>
    <div class="row col-12">
      <div class="col-lg-5 col-12 mx-auto ">
        <app-product-image-preview
          [images]="productImages$ | async"
        ></app-product-image-preview>
      </div>

      <div class="col-lg-6 col-12">
        <div class="card border-light col-12 col-rop p-0">
          <div class="card-body price-deal p-0">
            <div class="row">
              <h6>{{ (product$ | async)?.getCurrentPrice() | currencyvn }}</h6>
            </div>
            <div class="row" *ngIf="(product$ | async)?.discount">
              <span class="h6">
                {{ (product$ | async)?.price | currencyvn }}
                <span class="badge badge-danger"
                  >Giảm {{ (product$ | async)?.discount | discount }}
                </span>
              </span>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Thông số kỹ thuật</h5>
            <app-product-detailed-parameter-list
              [parameters$]="parameters$"
            ></app-product-detailed-parameter-list>
            <br />
            <div class="row px-0" *ngIf="product$ | async as product">
              <button
                type="button"
                (click)="addToCart(product)"
                class="btn btn-danger col m-2"
                [matTooltip]="cartRemaining > 0 ? 'Đã có ' + cartRemaining + ' trong giỏ hàng' : 'Chưa có trong giỏ hàng'"
              >
                Thêm vào giỏ hàng
              </button>
              <button type="button" class="btn btn-warning text-white col m-2">
                Mua ngay
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="clear"></div>
    <hr style="background-color:red; " />

    <div class="row col-12" style="padding: 20px;"  *ngIf="(product$ | async) as product" >
      <div class="card border-light col-12" style="margin: 10px; padding: 20px;">
        <div class="w-100" *ngIf="product.descriptions as descriptions" >
          <h4 class="product-title">
            Đặc điểm nổi bật của {{product.productName}}
          </h4>
          <div class="card-body p-0">
            <div class="product-description" *ngFor="let description of descriptions" >
              <h5 class="title-description">
                {{description.title}}
              </h5>
              <p>
                {{description.text}}
              </p>
            </div>
          </div>
        </div>

        <div class="row container"></div>
      </div>
    </div>
  </div>
</div>
