<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 star-light">Liên hệ</h5>
        <ul class="footer-links">
          <a class="page-footer" href="#"><i class="fa fa-map-marker mr-2 star-foot"></i>242 Tôn Đản</a><br>
          <a class="page-footer" href="#"><i class="fa fa-phone mr-2 star-foot"></i>+021-95-51-84</a><br>
          <a class="page-footer" href="#"><i class="far fa-envelope mr-2 star-foot"></i>email@email.com</a>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Danh mục</h5>

        <ul class="list-unstyled">
          <li>
            <a class="page-footer" href="#!">Giảm giá</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Laptop</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Điện thoại</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Phụ kiện</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Thông tin</h5>

        <ul class="list-unstyled">
          <li>
            <a class="page-footer" href="#!">Infinity shop</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Liên hệ với chúng tôi</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Chính sách bảo mật</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Đổi trả hàng hóa</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Dịch vụ</h5>

        <ul class="list-unstyled">
          <li>
            <a class="page-footer" href="#!">Tài khoản</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Xem giỏ hàng</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Xem yêu thích</a>
          </li>
          <li>
            <a class="page-footer" href="#!">Đơn hàng của tôi</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <i class="fab fa-facebook-f"> </i>
      </li>
    <li class="list-inline-item">
      <i class="fab fa-twitter "> </i>

    </li>
    <li class="list-inline-item">
      <i class="fab fa-google-plus-g"> </i>

    </li>
    <li class="list-inline-item">
      <i class="fab fa-linkedin-in"> </i>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-youtube"></i>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href=""> INFINITYShop.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
