<div class="alert alert-light text-center" *ngIf="dataSource.totalElements === 0"  role="alert">
  <span>Chưa có giao dịch nào <a [routerLink]="['/index']" >Mua hàng ngay</a></span>
</div>

<div class="col-12 py-4" *ngIf="(dataSource.connect() | async)?.length > 0" >
  <div class="col-12 m-0 d-flex justify-content-center flex-column">
    <mat-card>
      <mat-card-title>Đơn hàng của bạn</mat-card-title>
      <mat-card-content>
        <mat-table
          [dataSource]="dataSource"
          class="col-12 w-100 p-0"
          [trackBy]="trackById"
          matSort
          matSortStart="desc"
          (matSortChange)="onSortChange($event)"
        >
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Ngày giao dịch</th>
            <td mat-cell *matCellDef="let element" class="mx-2 text-left p-2">
              <p class="text-left p-2">
                {{ element.createdTime | date: dateFormat }}
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Tên khách hàng
            </th>
            <td mat-cell *matCellDef="let element" class="mx-2 pr-2">
              <p class="text-left p-2">
                {{ element.fullname }}
              </p>
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
            <td mat-cell *matCellDef="let element" class="mx-2">
              <p class="text-left p-2">
                {{ element.email }}
              </p>
            </td>
          </ng-container> -->

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Số điện thoại
            </th>
            <td mat-cell *matCellDef="let element" class="mx-2">
              <p class="text-left p-2">
                {{ element.phoneNumber }}
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ</th>
            <td mat-cell *matCellDef="let element" class="mx-2">
              <p class="text-left p-2">
                {{ element.address }}
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="subTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tổng tiền</th>
            <td mat-cell *matCellDef="let element" class="mx-2">
              <p class="text-right p-2">
                {{ element.subTotal | currencyvn }}
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="discountTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Số tiền giảm
            </th>
            <td mat-cell *matCellDef="let element" class="mx-2">
              <p class="text-right p-2">
                {{ element.discountTotal | currencyvn }}
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="sumTotal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Thành Tiền
            </th>
            <td mat-cell *matCellDef="let element" class="mx-2">
              <p class="text-right p-2">
                {{ element.sumTotal | currencyvn }}
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="viewDetail">
            <th mat-header-cell *matHeaderCellDef>
              Xem chi tiết
            </th>
            <td align="end" mat-cell *matCellDef="let element" class="mx-2">
              <button color="primary" (click)="openTransactionDetailed(element.id)" mat-icon-button>
                  <mat-icon class="mat-18">remove_red_eye</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </mat-table>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-paginator
          [length]="dataSource?.totalElements"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 15]"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
