/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  cursor: pointer !important;
}

.mat-header-cell {
  font-size: 1rem;
  text-align: center;
  align-items: center;
  background: #343a40;
  padding: 1rem 0 1rem 0 !important;
  color: white;
  text-align: center !important;
  text-transform: capitalize;

}
