<!-- body -->
<!-- <div class="mt-4 container col-12 px-5 ml-2.5"> -->
<div class=" container col-12 px-5 ml-2.5" style="min-height: 400px">
  <div class="row mt-5">
    <div class="card col-12 p-0">
      <div class="card-header">
        <h3>Giỏ hàng của bạn</h3>
      </div>
      <div class="container col-12 p-0 m-0">
        <table id="cart" class="table table-hover table-condensed" *ngIf="cartItems.length > 0; else noProducts" >
          <thead>
            <tr>
              <th class="text-center" style="max-width: 100px;">Sản phẩm</th>
              <th style="min-width: 80px;">Giá</th>
              <th>Sản phẩm hiện có</th>
              <th style="max-width: 50px;">Số lượng</th>
              <th class="text-center">Thành tiền</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems; trackBy: item?.productId">
              <td data-th="Product" style="max-width: 500px;">
                <div class="row">
                  <div class="col-sm-2 hidden-xs mr-2">
                    <img
                      [lazyLoad]="
                        item?.image
                          ? 'data:image/png;base64,' + item?.image
                          : ''
                      "
                      defaultImage="/assets/default.jpg"
                      alt="Sản phẩm 1"
                      class="img-responsive"
                      width="100"
                    />
                  </div>
                  <div class="col-sm-8">
                    <h4
                      class="nomargin"
                      [matTooltip]="item.product?.productName"
                    >
                      {{ item.product?.productName | cutString: 25 }}
                    </h4>
                    <p *ngIf="item.product?.descriptions as descriptions"  [matTooltip]="descriptions[0]?.title">
                      {{(descriptions?.length > 0 ? descriptions[0].title : 'không có mô tả') | cutString: 100}}
                    </p>
                  </div>
                </div>
              </td>
              <td data-th="Price">
                {{ item.product?.price | currencyvn }}
              </td>
              <td class="text-right pr-4">
                {{ item.product?.quantity}}
              </td>
              <td data-th="Quantity" style="max-width: 50px;">
                  <div class="col-12">
                      <input
                      class="form-control text-center col-12"
                      [value]="item.quantity"
                      type="number"
                      (change)="onQuantityChange($event, item.product)"
                      [attr.max]="item.product?.quantity"
                    />
                  </div>
              </td>
              <td data-th="Subtotal" style="text-align: center; color: #EA4335">
                {{item.total | currencyvn}}
              </td>
              <td class="actions" data-th="">
                <button class="btn btn-info mx-2" (click)="goToViewProduct(item.productId)" title="Xem chi tiết">
                  <i class="fas fa-eye"></i>
                </button>
                <button class="btn btn-danger mx-2" title="Xóa sản phẩm" (click)="remove(item.productId)">
                  <i class="fa fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <a class="btn btn-warning" [routerLink]="['/index']"
                  ><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a
                >
              </td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-left">
                <strong>Tổng tiền: {{total | currencyvn}}</strong>
              </td>
              <td colspan="2">
                <a href="buy.html" class="btn btn-success btn-block"
                  >Thanh toán <i class="fa fa-angle-right"></i
                ></a>
              </td>

              <td></td>
            </tr>
          </tfoot>
        </table>
        <ng-template #noProducts>
          <div class="alert alert-default" role="alert">
            <span>Chưa thêm sản phẩm nào !</span>
            <a [routerLink]="['/index']" > Mua hàng ngay</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <br />
</div>
