.mat-cell {
  min-width: 10rem;
}

.mat-column-edit,
.mat-column-delete {
  max-width: 20px !important  ;
  padding: 1.5rem;
}

.mat-cell {
  position: relative;
  padding: 0.25rem;
}

.mat-header-cell {
  margin-left: 1.2rem;
  padding-left: 0.5rem !important;
  text-align: left !important;
}

.mat-cell.mat-column-manufacturer,
.mat-cell.mat-column-parameterType {
  min-width: 250px;
}

