<mat-table
  [dataSource]="dataSoure"
  class="col-12 w-100 p-0"
  [trackBy]="trackById"
>
  <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef>Loại Sản Phẩm</th>
    <td mat-cell *matCellDef="let element" class="mx-2">
      <p class="text-left">
        {{(element.parent$ | async)?.categoryName ? ((element.parent$ | async)?.categoryName) + ' - ' : ""}} {{ element.categoryName }}
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="productCount">
    <th mat-header-cell *matHeaderCellDef>Số lượng sản phẩm</th>
    <td mat-cell *matCellDef="let element" class="mx-2 pr-2">
      <p class="text-center">
        {{ element.productCount }}
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="manufacturer">
      <th mat-header-cell *matHeaderCellDef>Hãng sản xuất</th>
      <td mat-cell *matCellDef="let element" class="mx-2">
        <p class="text-left">
          {{
            (!(element.manufacturers$ | async) || (element.manufacturers$ | async)?.length === 0)
              ? 'Không có'
              : (element.manufacturers$ | async) | manufacturersTransform | join: ", "
          }}
        </p>
      </td>
    </ng-container>

  <ng-container matColumnDef="parameterType">
    <th mat-header-cell *matHeaderCellDef>Thông Số Kỹ Thuật</th>
    <td mat-cell *matCellDef="let element" class="mx-2">
      <p class="text-left">
        {{
          (!(element.parmaterTypes$ | async) || (element.parmaterTypes$ | async)?.length === 0)
            ? 'Không có'
            : (element.parmaterTypes$ | async) | paramterTypeTransform | join: ", "
        }}
      </p>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell class="text-right" *matCellDef="let element" class="mx-2 pt-4 pl-5">
      <button (click)="edit(element)" class="btn-action" mat-raised-button color="primary">
        Sửa
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" class="mx-2 pt-4 pl-5">
      <button (click)="delete(element.id)" class="btn-action" mat-raised-button color="warn">
        Xóa
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</mat-table>

<mat-paginator [length]="maxPageSize" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]">
</mat-paginator>
