<div class=" border">
  <div class="title">
    <h5>Thông Số kỹ thuật</h5>
  </div>
  <div style="clear: both;"></div>
  <div class="body-product-KT" [formGroup]="parametersProductForm">
    <form formArrayName="parameters" (change)="onValuesChange()">
      <div class="col-12 row">
        <div
          class="form-group row col-6"
          *ngFor="
            let parameter of parameters.controls

            let i = index
          "
        >
          <label class="col-3 col-form-label d-flex align-items-center">{{
            parameter.value["parameterTypeName"] + " :"
          }}</label>
          <div class="col-sm-9" [formGroupName]="i">
            <mat-form-field class="col-12 m-0 p-0">
              <input
                [id]="parameter.value['id']"
                class="m-0"
                formControlName="parameterValue"
                matInput
                placeholder="Nhập thông số..."
              />
              <mat-error *ngIf="parameters?.get('+i+')?.hasError('required')">
                Vui lòng không để trống {{parameter.value["parameterTypeName"]}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </form>
  </div>
</div>
<div class="clear"></div>
