<h2 mat-dialog-title>Hãng Sản Xuất</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="my-2 mat-dialog-content-manufacturer">
  <div class="col-12" >
    <div class="col-12 p-0 m-2">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label p-0 mr-3 pt-3"
          >Tên Hãng Sản Xuất :</label
        >
        <form class='col-8' [formGroup]="manufacturerForm" (submit)="submit()">
          <div class="col-12 p-0">
            <mat-form-field class="w-100 p-0 m-0 mb-5">
              <input matInput formControlName="manufacturerName" type="text" placeholder="Nhập tên hãng sản xuất" />
            </mat-form-field>
          </div>
        </form>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 col-form-label p-0 mr-3 pt-2">Logo : </label>
        <div class="col-sm-5 p-0">
          <app-choose-images [fileUrl]="this.fileUrl" (onSelectFile)="onFileSelected($event)" (onRemovedFile)="onFileRemoved()"></app-choose-images>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <div class="w-100 clearfix">
    <div class="float-right">
      <button class="mat-raised-button mx-2" (click)="close()">Đóng</button>
      <button [disabled]="manufacturerForm.invalid" class="mat-raised-button mx-2 mat-warn" (click)="submit()">
        Lưu
      </button>
    </div>
  </div>
</mat-dialog-actions>
