<h1 mat-dialog-title class="text-center">Đổi mật khẩu</h1>
<div mat-dialog-content [formGroup]="changePasswordForm">
  <div class="form-group col-12 p-0">
    <mat-form-field class="col-12 p-0">
      <mat-label>Mật khẩu cũ</mat-label>
      <input
        type="password"
        formControlName="oldPassword"
        cdkFocusInitial
        matInput
        required
      />
      <mat-error *ngIf="oldPasswordControl.hasError('required')">
        Vui lòng điền mật khẩu cũ
      </mat-error>
      <mat-error *ngIf="oldPasswordControl.hasError('invalidOldPassword')">
        Mật khẩu cũ không chính xác
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group col-12 p-0">
    <mat-form-field class="col-12 p-0">
      <mat-label>Mật khẩu mới</mat-label>
      <input
        type="password"
        #newPasswordInput
        formControlName="newPassword"
        matInput
        required
      /><mat-error *ngIf="newPasswordControl.hasError('required')">
        Vui lòng điền mật khẩu mới
      </mat-error>
      <mat-error *ngIf="newPasswordControl.hasError('minlength')">
        mật khẩu có ít nhất 6 ký tự
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-group col-12 p-0">
    <mat-form-field class="col-12 p-0">
      <mat-label>Xác nhận lại mật khẩu mới</mat-label>
      <input
        type="password"
        #confirmNewPasswordInput
        formControlName="confirmNewPassword"
        matInput
        required
      />
      <mat-error *ngIf="confirmNewPasswordControl.hasError('invalidConfirm')">
        Xác nhận mật khẩu không đúng
      </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button matDialogClose>Đóng</button>
  <button
    [disabled]="changePasswordForm.invalid"
    mat-raised-button
    color="warn"
    (click)="changePass()"
  >
    Đổi mật khẩu
  </button>
</div>
