@import '../../assets/admin/sidebar.css';

@import '../../assets/admin/style.css';

.header-avartar {
  height: 20px;
  width: 20px;
  margin-bottom: 4px;

  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
