<div class=" border">
  <div class="title">
    <h5>Thông tin cơ bản</h5>
  </div>
  <div class="body-product ">
    <form [formGroup]="basicProductForm" (change)="onFormChange()">
      <div class="form-group row col-12">
        <label class="col-2 col-form-label d-flex align-items-center"
          >Tên sản phẩm :
        </label>
        <div class="col-sm-9">
          <mat-form-field class="col-12 m-0 p-0">
            <input #productNameInput matInput placeholder="Nhập tên sản phẩm" formControlName="productName" required>
            <mat-error *ngIf="basicProductForm.controls['productName'].hasError('required')">
              Không bỏ trống tên sản phẩm
            </mat-error>

            <mat-error *ngIf="productNameControl.hasError('existsName')" >
              Tên sản phẩm đã tồn tại
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row col-12">
        <label class="col-sm-2 col-form-label d-flex align-items-center"
          >Loại sản phẩm :</label
        >

        <div class="col-sm-9" formArrayName="categoryIds">
          <mat-form-field class="col-12 m-0 p-0">
            <mat-label>--- Chọn loại sản phẩm ---</mat-label>
            <mat-select formControlName="0" (selectionChange)="onSelectCategory($event.value);" required>
              <mat-option
                *ngFor="let category of allCategories$ | async; let i = index"
                [value]="category.id"

              >
                {{ category.categoryName }}
              </mat-option>

            </mat-select>
            <mat-error *ngIf="categoryIdsFormArray.at(0).hasError('required')">
              Vui lòng chọn loại sản phẩm
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col-12 p-0" *ngIf="categoryChildrens">
            <mat-label>--- Chọn loại sản phẩm con ---</mat-label>
            <mat-select formControlName="1"  (selectionChange)="onSelectCategory($event.value, categoryChildrens);">
              <mat-option
                *ngFor="let category of categoryChildrens"
                [value]="category.id"
              >
                {{ category.categoryName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row col-12" *ngIf="(manufacturers$ | async)?.length > 0">
        <label class="col-sm-2 col-form-label d-flex align-items-center"
          >Hãng sản xuất :</label
        >
        <div class="col-sm-9">
          <mat-form-field class="col-12 m-0 p-0">
            <mat-label>--- Chọn hãng sản xuất ---</mat-label>
            <mat-select (selectionChange)="onChange.emit(basicProductForm)" formControlName="manufacturerId" required>
              <mat-option

                *ngFor="let manufacturer of manufacturers$ | async; trackBy: trackByManufacturer"
                [value]="manufacturer.id"
              >
                {{ manufacturer.manufacturerName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group row col-12">
        <label class="col-2 col-form-label d-flex align-items-center"
          >Đơn Giá  :
        </label>
        <div class="col-sm-9">
          <mat-form-field class="col-12 m-0 p-0">
            <input type="number" formControlName="price" matInput placeholder="Nhập đơn giá" required>
            <mat-error *ngIf="priceControl.hasError('required')">
              Không được để trống đơn giá
            </mat-error>
            <mat-error *ngIf="priceControl.hasError('min')">
              Đơn giá ít nhất là 1.000
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row col-12" *ngIf="!editMode">
        <label class="col-2 col-form-label d-flex align-items-center"
          >Số lượng kho hàng :
        </label>
        <div class="col-sm-9">
          <mat-form-field class="col-12 m-0 p-0">
            <input type="number" formControlName="quantity" matInput placeholder="Nhập số lượng kho hàng" >
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="clear"></div>
