<h3 class="text-center">Giới thiệu về cửa hàng Infinity</h3>

<div class="text-center p-5">
  <b>
    Xu hướng hiện nay của khách hàng là mua hàng online trên Internet, nhưng
    không phải website bán hàng nào trên Internet cũng đảm bảo như của hàng
    "Infinity" của chúng tôi. Cửa hàng "Infinity" là cửa hàng bán hàng điện tử
    hiện đại Được thành lập bởi 4 thành viên ưu tú nhất trong khu chung cư xóm
    trọ. Với phương châm "Đồng hành cùng phong cách thời đại". sẽ là nơi mua sắm
    an toàn và uy tín. Bởi chúng tôi luôn đề cao tiêu chí mang đến cho quý khách
    những sản phẩm chất lượng nhất Với giá cả luôn phải chăng.
  </b>
</div>

<br />
<div class="row col-12 text-center  ml-2 mb-3">
  <div class="col-6 p-0 text-center">
    <img
      class="about-image-left mb-2 ml-4"
      [lazyLoad]="'/assets/img/about/about1.jpg'"
      class="sampleimage"
      data-largesrc="Img/sx1big.jpg"
    />
    <p class="">Với nhiều sản phẩm hiện đại</p>
  </div>
  <div class="col-6 pr-0 text-center ">
    <img
      class="about-image-right"
      [lazyLoad]="'/assets/img/about/about2.jpg'"
    />
    <p class="">Hổ trợ khách hàng mọi lúc mọi nơi</p>
  </div>
</div>

<div class="row col-12 mt-3 text-center  ml-2 mb-3">
  <div class="col-6 p-0 text-center">
    <img
      class="about-image-bottom-left mb-2 ml-4"
      [lazyLoad]="'/assets/img/about/nv-pro.jpg'"
    />
    <p class="">Giao hàng nhanh chóng, an toàn</p>
  </div>
  <div class="col-6 pr-0 text-center ">
    <img class="about-image-right" [lazyLoad]="'/assets/img/about/nv.jpg'" />
    <p class="">Nhân viên chuyên nghiệp, nhiệt tình</p>
  </div>
</div>

<div class="ml-5">
  <h4 class="ml-5"><b>Cửa hàng "Infinity" chuyên cung cấp sản phẩm của:</b></h4>
  <p class="ml-5">
    <b> - Các hãng laptop:</b> Dell, asus, aser, lenovo, gamming, apple, razer,
    microsoft,...
  </p>
  <p class="ml-5">
    <b> - Các hãng điện thoại:</b> Nokia, samsung, oppo, iphone, lenovo, xiaomi,
    huawei, vivo, one plus,...
  </p>
  <p class="ml-5">
    <b> - Các phụ kiện điện tử:</b> Tai nghe, bàn phím, chuột có, không dây,
    ram, loa, camera, usb, ốp lưng, gậy tự sướng, pin máy tính, điện thoại,...
  </p>
  <p class="ml-5">
    với nhiều mặt hàng đa dạng và phong phú như tai nghe, ram có dung lượng
    khủng, ổ cứng SSD, HDD siêu tuyệt vời.... sẽ là sự lựa chọn tốt nhất cho
    việc học và đi làm của các bạn.
  </p>
</div>

<div class="text-center">
  <img class="" [lazyLoad]="'/assets/img/about/beautyfull.png'" />
  TỔNG ĐÀI HỖ TRỢ KHÁCH HÀNG <br />
  Tổng đài bán hàng (7:30 - 22:00) 1800.1061 (miễn phí)<br />
  Gọi khiếu nại (8:00 - 21:30) 1800.1063 (miễn phí)<br />
  Hỗ trợ bảo hành (8:00 - 21:00) 1800.1065
</div>

<div class="text-center mt-5">
  <img [lazyLoad]="'/assets/img/about/about.png'" />
</div>
<div class="text-center about-image-footer mt-5">
  <img [lazyLoad]="'/assets/img/about/banner-logo.png'" />
</div>
