<!-- begin Nhập hàng -->
<div
  class="tab-pane fade show active"
  id="home"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <div class="ad-product-new">
    <app-base-product-form #base (onInit)="onBasicFormChange($event)" (onSelectedCategory)="onSelectedCategory($event)"></app-base-product-form>

    <app-parameters-product-form #parameters
      *ngIf="(parameterTypes$ | async) && (parameterTypes$ | async)?.length > 0"
      [parameterTypes$]="parameterTypes$"
      (onInit)="onParametersFormChange($event)"
    ></app-parameters-product-form>

    <div class=" border">
      <div class="title">
        <h5>Quản lý hình ảnh</h5>
      </div>
      <div class="body-product ">
        <form>
          <div class="form-group row col-12">
            <label class="col-3 col-form-label">Hình ảnh sản phẩm:</label>
            <div class="col-12">
              <app-multi-choose-images
                #multiChooseImages
                class="row col-12"
              ></app-multi-choose-images>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="clear"></div>

    <app-product-description-form (onInit)="onDecriptionFormChange($event)" #descriptions></app-product-description-form>
    <hr />
    <div class="clear"></div>
    <div class="ht">
      <button type="reset" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Hủy
      </button>
      <button type="button" (click)="onSubmit()" class="btn btn-info">
        <i class="fas fa-save"></i> Hoàn thành
      </button>
    </div>
  </div>
</div>
