<mat-card>
  <mat-card-title class="mb-2 text-center">
    Thông tin của bạn
  </mat-card-title>

  <mat-card-content class="mt-2">
    <form [formGroup]="checkoutForm" (submit)="onSubmit()">
      <div class="form-group row pr-0">
        <mat-form-field class="col" floatPlaceholder="auto" dividerColor="warn">
          <mat-label>Họ</mat-label>
          <input matInput formControlName="lastname" type="text" required />

          <mat-error *ngIf="lastnameControl.hasError('required')">
            Không được để trống họ
          </mat-error>
        </mat-form-field>

        <mat-form-field class="col" floatPlaceholder="auto" dividerColor="warn">
          <mat-label>Tên</mat-label>
          <input matInput formControlName="firstname" type="text" required />

          <mat-error *ngIf="firstnameControl.hasError('required')">
            Không được để trống tên
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group row pr-0">
        <mat-form-field
          class="col-12"
          floatPlaceholder="auto"
          dividerColor="warn"

        >
          <mat-label>Số Điện Thoại</mat-label>
          <input matInput formControlName="phoneNumber" type="text" required />

          <mat-error *ngIf="phoneNumberControl.hasError('required')">
            Không được để trống số điện thoại
          </mat-error>

          <mat-error *ngIf="phoneNumberControl.hasError('pattern')">
            Số điện thoại không đúng (vd: 0773927601)
          </mat-error>

        </mat-form-field>
      </div>

      <div class="form-group row pr-0">
        <mat-form-field
          class="col-12"
          floatPlaceholder="auto"
          dividerColor="warn"

        >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="text" required />

          <mat-error *ngIf="emailControl.hasError('required')">
            Không được để trống email
          </mat-error>

          <mat-error *ngIf="emailControl.hasError('pattern')">
            email không đúng định dạng (vd: abc@gmail.com)
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group row pr-0">
        <mat-form-field
          class="col-12"
          floatPlaceholder="auto"
          dividerColor="warn"
        >
          <mat-label>Địa Chỉ</mat-label>
          <textarea matInput formControlName="address" type="text" required ></textarea>

          <mat-error *ngIf="addressControl.hasError('required')">
            Không được để trống địa chỉ
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-content>
    <div class="col-12 d-flex justify-content-center flex-column">
      <button [disabled]="checkoutForm.invalid" (click)="onSubmit()" color="warn" class="col-12 m-2 btn btn-danger btn-round">
        Thanh Toán
      </button>
      <a [hidden]="logined" [routerLink]="['/index', 'register']"  class="col-12 btn btn-link m-2">Đăng ký tài khoản</a>
    </div>
  </mat-card-content>
</mat-card>
