<mat-card>
  <mat-card-title class="mb-2 text-center">
    Giỏ Hàng Của Bạn
  </mat-card-title>

  <mat-card-content>
    <div class="order-summary px-5">
      <div class="order-col">
        <div><strong class="text-uppercase">Sản phẩm</strong></div>
        <div  class="text-right"><strong class="text-uppercase text-right">Số lượng</strong></div>
        <div  class="text-right"><strong class="text-uppercase text-right">Thành tiền</strong></div>
        <div  class="text-right"><strong class="text-uppercase text-right">Giảm</strong></div>
        <div  class="text-right"> <strong class="text-uppercase text-right">Tổng tiền</strong></div>
      </div>

      <div class="order-products">
        <div class="order-col order-items" *ngFor="let item of checkoutItems; trackBy: item?.productId">
          <div class="productName-info" *ngIf="item.product as product" [matTooltip]="product.productName" >{{ product.productName | cutString: 20 }}</div>
          <div class="text-right">x{{ item.quantity }}</div>
          <div class="text-right">{{ item.subTotal | currencyvn }}</div>
          <div class="text-right">{{ item.sumDiscount | currencyvn }}</div>
          <div class="text-right">{{ item.total | currencyvn }}</div>
        </div>
      </div>
      <div class="col-12 p-4">
          <mat-divider></mat-divider>
      </div>
      <div class="order-col">
        <div><strong class="text-uppercase">Tổng cộng</strong></div>
        <div><strong class="text-uppercase">{{sumTotal | currencyvn}}</strong></div>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="col-12 d-flex justify-content-center p-3">
      <a
        [routerLink]="['/index', 'cart']"
        class="btn btn-danger btn-round col-12 text-capitalize"
      >
        Trở về giỏ hàng
      </a>
    </div>
  </mat-card-actions>
</mat-card>
