<div class="w-100 row mt-5">
  <div class="card col-12 p-0">
    <div class="card-header clearfix">
      <h6 class="float-left text-uppercase font-weight-bold">
        {{ productBanner.title }}
      </h6>
      <a href="#" class="float-right"
        >Xem thêm {{ (productPage$ | async).totalElements }} sản phẩm
      </a>
    </div>
    <div class="col-12 d-flex justify-content-start p-0 m-0">
      <div class="col-3" *ngFor="let product of (productPage$ | async).content">
        <app-product-box [product]="product"></app-product-box>
      </div>
    </div>
  </div>
</div>
